.main {
  &__list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__list-item {
    list-style: none;
    padding: 12px 10px;
    border: 2px solid yellow;
    margin: 10px 0;
    color: #bbb;
    width: 30%;
  }
  &__button {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid yellow;
    color: yellow;
    background-color: transparent;
    transition: 0.2s;
    &:hover {
      background-color: yellow;
      color: black;
    }
    &--hide {
      display: none;
    }
  }
}
